@font-face {
    font-family: "CreatorGenius";
    src: url("../fonts/Creator Genius.ttf") format("truetype");
    font-display: swap;
}

.montenegrin-gothic-one-regular {
  font-family: "Montenegrin Gothic One", serif;
  font-weight: 400;
  font-style: normal;
}


#home.page-section h1 {
    font-family: "CreatorGenius", sans-serif;
}

#home.page-section {
    text-align: center;
}

#about.page-section h2 {
    font-family: "CreatorGenius", sans-serif;
}

#about.page-section {
    text-align: center;
}

#projects.page-section h2 {
    font-family: "CreatorGenius", sans-serif;
}

#projects.page-section {
    text-align: center;
}

#contact.page-section h2 {
    font-family: "CreatorGenius", sans-serif;
}

#contact.page-section {
    text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Poppins", sans-serif;
    background-image: radial-gradient(farthest-side at left top, #00ffe1, #0092bf 100%);
}

.container {
    display: flex;
}

#sidebar {
    display: flex;
    flex-direction: column;
    background-color: rgba(11, 0, 0, 0.06);
    border: 2px solid black;
}

#toggler {
    display: none;
}

.toggle-btn {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    color: #FFF;
    padding: 1.75rem;
    background-color: rgba(0, 0, 0, 0.075);
    border: 3px solid white;
}

.toggle-btn span {
    font-size: 1rem;
    margin: 0 auto;
    font-weight: 600;
}

.sidebar-nav {
    width: 85px;
    min-width: 85px;
    flex: 1 1 auto;
    transition: all .25s ease-in-out;
}

#sidebar #toggler:checked~.sidebar-nav {
    width: 260px;
    min-width: 260px;
}

#sidebar #toggler:not(:checked)~.toggle-btn span{
    display: none;
}

#sidebar #toggler:not(:checked)~* .sidebar-link span{
    display: none;
}

.sidebar-link {
    padding: .625rem 1.625rem;
    color: #FFF;
    display: block;
    white-space: nowrap;
    border-left: 3px solid transparent;
}

.sidebar-link i {
    font-size: 1.1rem;
    margin-right: .75rem;
}



.sidebar-link:hover {
    background-color: rgba(255, 255, 255, .075);
    border-left: 3px solid #3b7ddd;
}

.main {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    padding: 1.5rem;
    justify-content: center;
}

label.toggle-btn span {
    font-family: "Montenegrin Gothic One", serif;
}